@font-face {
	font-family: "Roboto";
	src: url("./assets/fonts/Roboto-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("./assets/fonts/Roboto-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}

:root {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, Helvetica, sans-serif;
	color: hsl(234, 29%, 20%);
}

/*
	1.General Styles
	2.Sign-up Page
	3.Success Message
	4.Desktop Styles
*/

/*General Styles*/

h1 {
	margin-bottom: 0.8rem;
	font-size: 2.5rem;
}

ul {
	list-style-type: none;
	margin-block: 0rem 3rem;
}

li {
	display: grid;
	grid-template-columns: 2rem 1fr 2rem;
	margin-top: 0.7rem;
}

li::before {
	content: url("./assets/images/icon-list.svg");

	width: 1rem;
	height: 1rem;
}

input {
	height: 3rem;
	margin-block: 1rem;

	font-size: 1rem;
	border-radius: 0.5rem;
	box-shadow: none;
	border: none;
}

input[type="email"] {
	margin-top: 0;
	padding-inline: 1.2rem;
	border: 1px solid hsla(231, 7%, 60%, 0.353);
}

input[type="email"]:focus {
	outline: 3px solid #ff6644;
}

input[type="submit"],
input[type="button"] {
	background-color: hsl(234, 29%, 20%);
	color: hsl(0, 0%, 100%);

	font-weight: 700;
	cursor: pointer;
	transition: background-color 200ms, box-shadow 100ms;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	background: linear-gradient(90deg, #242742, #ff5671, #ff6644, #ff5671);
	background-color: #ff5671;
	background-size: 200vw;

	background-position: 100% 0;
	box-shadow: 0 10px 1rem 0 hsla(11, 100%, 63%, 0.427);

	animation: animate-button 1s ease-in-out;
}

@keyframes animate-button {
	0% {
		background-position: 20% 0px;
	}
	20% {
		background-position: 50% 0px;
		box-shadow: 0 10px 1rem 0 hsla(350, 100%, 67%, 0.427);
	}

	100% {
		background-position: 100% 0;
		box-shadow: 0 10px 1rem 0 hsla(11, 100%, 63%, 0.427);
	}
}

label {
	font-size: 0.7rem;
	font-weight: 700;
	margin-bottom: 0;
	padding-bottom: 0.5rem;
}

/*Sign-up Page*/

#desktop-img {
	display: none;
}

#mobile-img {
	width: 100vw;
}

#signup-page {
	display: flex;
	flex-direction: column;
}

#signup-page > div > :not(img) {
	padding-inline: 1.4rem;
}

#signup-page form {
	display: flex;
	flex-direction: column;
}

#label-email {
	position: relative;
}

#label-email :last-child {
	position: absolute;
	right: 0;
	margin-left: auto;

	opacity: 0;
	color: #ff6644;
	transform: translateX(3px);

	transition: opacity 200ms, transform 300ms;
}

#label-email[valid-email="false"] :last-child {
	opacity: 100%;
	transform: translateX(0);
	display: inline-block;
}

#label-email[valid-email="false"] + #input-email {
	background-color: #ff664454;
}

/*Success Message*/
#success-message {
	display: none;
	flex-direction: column;

	height: 100vh;
	padding-inline: 1.4rem;
}

#success-message img {
	margin-block: 15vh 1rem;
	width: 4rem;
	height: 4rem;
}

#success-message input {
	margin-block: auto 1rem;
}

#success-message *,
#signup-page * {
	animation: drop-fadein 200ms ease-out;
}

@keyframes drop-fadein {
	0% {
		transform: translateY(-30px);
	}
	50% {
		opacity: 100%;
	}
	100% {
		transform: translateY(0px);
	}
}

/*Desktop Styles*/
@media only screen and (min-width: 800px) {
	body {
		background-color: hsl(234, 29%, 20%);
		display: flex;
		justify-content: center;
		align-items: center;

		height: 100vh;
	}

	input {
		margin-block: 0.7rem;
	}

	#mobile-img {
		display: none;
	}

	#desktop-img {
		display: block;
		position: absolute;

		height: calc(100% - 3rem);
		right: 1.5rem;
	}

	.dynamic-container {
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: #ffff;
		border-radius: 2rem;
		transition: all 200ms ease-in-out;
	}

	#signup-page {
		display: grid;
		position: relative;
		grid-template-columns: 10fr 8fr;
		align-items: center;

		width: min(95vw, 750px);
		height: min(90vh, 500px);
		padding: 2rem;

		border-radius: 2rem;
	}

	#signup-page h1 {
		margin-top: auto;
		padding-top: 0;
		font-size: 3.2rem;
	}

	#signup-page > div {
		padding-right: 3rem;
	}

	#success-message {
		width: min(95vw, 335px);
		height: min(90vh, 360px);
		padding: 2.3rem 3.3rem;

		border-radius: 2rem;
	}

	#success-message h1 {
		font-size: 2.9rem;
		margin-bottom: 0;
	}

	#success-message img {
		padding: 0;
		margin: 0;

		height: 3.4rem;
		width: 3.4rem;
	}

	#success-message input {
		margin: 0;
		margin-top: 1rem;
		padding: 0;
	}
}
